<%= user_profile_image(current_user, 80) %>

<%= form_for @profile do |form|%>

    <div>
        <%= form.label :profile_image %><br />
        <%= form.file_field :profile_image, accept: "image/*" %>
    </div>

    <div>
        <%= form.label :first_name %><br />
        <%= form.text_field :first_name %>
    </div>

    <div>
        <%= form.label :last_name %><br />
        <%= form.text_field :last_name %>
    </div>

    <div>
        <%= form.label :email %><br />
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :about, "About me" %><br />
        <%= form.text_area :about %>
    </div>

    <div>
        <%= form.label :hobbies %><br />
        <%= form.text_area :hobbies %>
    </div>

    <div>
        <%= form.label :city, "Current city" %><br />
        <%= form.text_field :city, placeholder: "Current city you live in" %>
    </div>

    <div>
        <%= form.submit "Save" %>
        <%= link_to "Cancel", current_user %>
    </div>
<% end %>