<div class="profiles-edit">
<div class="content-container">
<div class="header-container">
    <div class="profile-image"><%= user_profile_image(current_user, 80) %></div>
    <h1>Edit Profile</h1>
</div>

<%= form_for @profile do |form| %>
    <div class="name">
        <div class="first-name">
            <%= form.text_field :first_name, placeholder: "First name" %>
        </div>

        <div class="last-name">
            <%= form.text_field :last_name, placeholder: "Last name" %>
        </div>
    </div>

    <div class="email">
        <%= form.email_field :email, placeholder: "Email" %>
    </div>

    <div class="about">
        <%= form.text_area :about, placeholder: "About" %>
    </div>

    <div class="hobbies">
        <%= form.text_area :hobbies, placeholder: "Hobbies" %>
    </div>

    <div class="city">
        <%= form.text_field :city, placeholder: "Current city you live in" %>
    </div>

    <div class="profile-image-container">
        <%= form.label :profile_image %>
        <%= form.file_field :profile_image, accept: "image/*" %>
    </div>

    <div class="buttons">
        <%= link_to "Cancel", current_user, class: "cancel-button" %>
        <%= form.submit "Save", class: "save-button" %>
    </div>
<% end %>
</div>
</div>
