<h3><%= @post.content %></h3>
<p><%= @post.user.first_name %> <%= @post.user.last_name %></p>

<div>
<% if current_user.likes.where(post_id: @post.id).any? %>
    <%= link_to "Unike", posts_unlike_path(post_id: @post.id, view: 'comments') %>
<% else %>
    <%= link_to "Like", posts_like_path(post_id: @post.id, view: 'comments') %>
<% end %>
<%= @post.likes.count %> likes <br>
</div>

<%= link_to "Back", :back %>

<%= form_with url: "comments" do |form| %>
    <%= form.text_field :content, placeholder: "Write a comment..." %><br>
<% end %>

<% @comments.each do |comment| %>
    <div>
        <%= comment.user.first_name %> <%= comment.user.last_name%><br>
        <%= comment.content %><br>
    </div><br>
<% end %>