<div class="comments-index">
<div class="center-column">

<p class="return"><%= link_to "⬅ Return", :back %></p>

<%= render 'posts/post', post: @post %>

<%= form_with url: "comments", class: "comment-form" do |form| %>
    <%= link_to user_profile_image(current_user, 30), user_path(current_user) %>
    <%= form.text_field :content, placeholder: "Write a comment...", class: "comment-field"%>
<% end %>
<p class="comment-instruction">Press Enter to post.</p>

<% @comments.each do |comment| %>
    <div class="comment-container">
        <%= link_to user_profile_image(comment.user, 30), user_path(comment.user), class: "user-image" %>
        <div class="comment">
            <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user), class: "user-name"%>
            <p class="content"><%= comment.content %></p>
        </div>
    </div>
<% end %>
</div>
</div>