<% if @pending_friends.any? %>
    <h3>Friend Requests</h3>
    <% @pending_friends.each do |requester| %>
        <%= requester.first_name %> <%= requester.last_name %><br>
        <%= form_with url: "/friend_requests/#{FriendRequest.where(user_id: requester.id, friend_id: current_user.id).first.id}", method: :put do |form| %>
            <%= form.submit "Confirm" %>
        <% end %>
        <%= button_to "Delete", friend_request_path(FriendRequest.where(user_id: requester.id, friend_id: current_user.id).first), method: :delete %>
    <% end %>
<% end %>

<% if @friends.any? %>
    <h3>Friends</h3>
    <% @friends.each do |friend| %>
        <div>
            <%= friend.first_name %> <%= friend.last_name %><br>
            <%= link_to "Unfriend", friends_destroy_path(id: friend.id) %>
        </div><br>
    <% end %>
<% end %>

<% if @suggested.any? %>
    <h3>Suggested</h3>
    <% @suggested.each do |user| %>
        <div>
            <%= user.first_name %> <%= user.last_name %><br>
            <% if current_user.pending_friends.include?(user) %>
                <%= button_to "Cancel request", friend_request_path(FriendRequest.where(user_id: current_user.id, friend_id: user.id).first), method: :delete %>
            <% else %>
                <%= form_with model: @friend_request do |form| %>
                    <%= form.hidden_field :friend_id, value: user.id %>
                    <%= form.submit "Add friend" %>
                <% end %>
            <% end %>
        </div><br>
    <% end %>
<% end %>