<%= current_user.email %><br>

<%= form_with model: @post do |form| %>
    <%= form.text_area :content, size: "60x8", placeholder: "What's on your mind, #{current_user.first_name}?" %><br>
    <%= form.submit %>
<% end %>

<h2>Posts</h2>
<% @posts.each do |post| %>
    <div>
        <%= post.user.first_name %> <%= post.user.last_name%><br>
        <%= post.content %><br>

        <% if current_user.likes.where(post_id: post.id).any? %>
            <%= link_to "Unike", posts_unlike_path(post_id: post.id, view: 'posts') %>
        <% else %>
            <%= link_to "Like", posts_like_path(post_id: post.id, view: 'posts') %>
        <% end %>
        <%= post.likes.count %> likes <br>

        <%= link_to "Comment", post_comments_path(post) %>
        <%= post.comments.count %> comments
    </div><br>
<% end %>