<%= current_user.email %><br>

<%= form_with model: @post do |form| %>
    <%= form.text_area :content, size: "60x8", placeholder: "What's on your mind, #{current_user.first_name}?" %><br>
    <%= form.submit %>
<% end %>

<h2>Posts</h2>
<% @posts.each do |post| %>
    <%= render "post", post: post %>
<% end %>