<!DOCTYPE html>
<html>
  <head>
    <title>Odin Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://www.edigitalagency.com.au/wp-content/uploads/Facebook-logo-blue-circle-large-transparent-png.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <nav>
        <%= link_to image_tag("facebook-icon.png", size: 42), "https://www.facebook.com/", class: "facebook-button" %>
        <div class="icon-buttons">
          <%= link_to image_tag("home-icon.png", size: 40), root_path %>
          <%= link_to image_tag("users-icon.png", size: 40), users_path %>
          <%= button_to image_tag("logout-icon.png", size: 40), destroy_user_session_path, method: :delete, data: { turbo: false }, class: "logout-button" %>
          <%= link_to image_tag("settings-icon.png", size: 40), edit_profile_path(current_user.profile) %>
        </div>
        <div class="profile-link">
          <%= link_to current_user.first_name+" "+current_user.last_name, user_path(current_user), class: "profile-name-link" %>
          <%= link_to user_profile_image(current_user), user_path(current_user), class: "profile-button" %>
        </div>
      </nav>
    <% end %>
    
    <%= yield %>
  </body>
</html>
